@inherits LayoutComponentBase
@inject NavigationManager Nav

@if (Pages.Index.log == true)
{
  <header>
    <div class="navbar">
      <a href="/home" class="nav-item">Início</a>
      <a href="/user" class="nav-item">@Pages.Index.Logado.Nome</a>
      <a href="/lista" class="nav-item">Minha Lista</a>
    </div>
  </header>
}

<article class="content px-4">
  @Body
</article>
